<div class="bg"></div>
<div class="wrapper">
  <div class="content">
    <ul class="endpoints">
      <li><%= link_to '/contents', api_v1_contents_url, target: '_blank' %></li>
      <li><%= link_to '/movies', api_v1_movies_url, target: '_blank' %></li>
      <li><%= link_to '/seasons', api_v1_seasons_url, target: '_blank' %></li>
    </ul>
  </div>
</div>